---
import LegalLayout from '../layouts/LegalLayout.astro';
const lang = 'en';
---

<LegalLayout title="Cookie Policy" lang={lang}>
  <article class="legal-content">
    <h1>Cookie Policy</h1>
    <p class="update-date">Last updated: December 2025</p>

    <h2>1. Introduction</h2>
    <p>Our website (hereinafter: "the website") uses cookies and other related technologies (for convenience, all technologies are referred to as "cookies"). Cookies are also placed by third parties we have engaged. In the document below, we inform you about the use of cookies on our website.</p>

    <h2>2. What are cookies?</h2>
    <p>A cookie is a small simple file that is sent along with pages of this website and stored by your browser on the hard drive of your computer or another device. The information stored therein may be returned to our servers or to the relevant third-party servers during a subsequent visit.</p>

    <h2>3. What are scripts?</h2>
    <p>A script is a piece of program code that is used to make our website function properly and interactively.</p>

    <h2>4. What is a web beacon?</h2>
    <p>A web beacon (or a pixel tag) is a small, invisible piece of text or image on a website that is used to monitor traffic on a website.</p>

    <h2>5. Types of Cookies</h2>
    
    <h3>5.1 Technical or functional cookies</h3>
    <p>Some cookies ensure that certain parts of the website work properly and that your user preferences remain known. By placing functional cookies, we make it easier for you to visit our website.</p>

    <h3>5.2 Statistics cookies</h3>
    <p>We use statistics cookies to optimize the website experience for our users. With these statistics cookies, we get insights into the usage of our website.</p>

    <h3>5.3 Marketing/Tracking cookies</h3>
    <p>Marketing/tracking cookies are cookies or any other form of local storage, used to create user profiles to display advertising or to track the user on this website or across several websites for similar marketing purposes.</p>

    <h3>5.4 Social networks</h3>
    <p>On our website, we have included content from LinkedIn, Twitter, or other social networks to promote web pages. This content is embedded with code derived from these platforms and places cookies.</p>

    <h2>6. Cookies Placed</h2>
    <p><strong>Google Analytics:</strong> We use Google Analytics to collect information about how visitors use our site. We use this information to compile reports and improve the site.</p>
    <p><strong>Other analytics tools:</strong> We may use other analytics tools such as Microsoft Clarity, HubSpot, or similar tools to understand user interaction with our site.</p>

    <h2>7. Consent</h2>
    <p>When you visit our website for the first time, we will show you a pop-up with an explanation about cookies. As soon as you click on "Save preferences", you consent to us using the categories of cookies and plug-ins you selected in the pop-up, as described in this Cookie Policy.</p>

    <h2>8. Enabling/disabling and deleting cookies</h2>
    <p>You can use your Internet browser to automatically or manually delete cookies. You can also specify that certain cookies may not be placed. Another option is to change the settings of your Internet browser so that you receive a message each time a cookie is placed.</p>
    <p>Please note that our website may not work properly if all cookies are disabled. If you delete the cookies in your browser, they will be placed again after your consent when you visit our website again.</p>

    <h2>9. Your rights with respect to personal data</h2>
    <p>You have the following rights with respect to your personal data:</p>
    <ul>
      <li>You have the right to know why your personal data is needed, what will happen to it, and how long it will be retained.</li>
      <li><strong>Right of access:</strong> You have the right to access your personal data that is known to us.</li>
      <li><strong>Right to rectification:</strong> You have the right to supplement, correct, have deleted, or blocked your personal data whenever you wish.</li>
      <li>If you give us your consent to process your data, you have the right to revoke that consent and to have your personal data deleted.</li>
      <li><strong>Right to transfer your data:</strong> You have the right to request all your personal data from the controller and transfer it in its entirety to another controller.</li>
      <li><strong>Right to object:</strong> You may object to the processing of your data. We comply with this, unless there are justified grounds for processing.</li>
    </ul>

    <h2>10. Contact Details</h2>
    <p>For questions and/or comments about our Cookie Policy and this statement, please contact us by using the following contact details:</p>
    <p><strong>Clientky</strong><br>Email: <a href="mailto:legal@clientky.app">legal@clientky.app</a></p>
  </article>
</LegalLayout>

